name: Lab 3 Deployment

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to KTH Registry
        uses: docker/login-action@v3
        with:
          registry: registry.cloud.cbh.kth.se
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Bygg databasen (journal-db-final)
      - name: Build and Push DB
        uses: docker/build-push-action@v5
        with:
          context: ./db
          push: true
          tags: ${{ secrets.DB_DOCKER_TAG }}

      # Bygg backenden (journal-backend)
      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./user-service
          push: true
          tags: ${{ secrets.DOCKER_TAG }}
