name: Lab 3 Full DevOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run JUnit Tests
        run: |
          mvn -f user-service/pom.xml test
          mvn -f message-service/pom.xml test

      - name: Login to KTH Registry
        if: success()
        uses: docker/login-action@v3
        with:
          registry: registry.cloud.cbh.kth.se
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        if: success()
        uses: docker/build-push-action@v5
        with:
          context: ./user-service
          file: user-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_TAG }}
